@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

body {
  background: black;
  overflow: hidden;
  font: 5vw/100vh "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
}

.d_n{
  display: none;
}


#section_1 span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
}

#section_1 span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(3 + ($item/10))}s; 
  }
}

/*---------------------------------------------*/

#section_1_1{
  position: absolute;
  top: 0%;
  width: 100%;
}

#section_1_1 span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky_1 10s 5s both;
}

#section_1_1 span:nth-child(even){
  animation-name: smoky_1-mirror;
}

@keyframes smoky_1 {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky_1-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(3 + ($item/10))}s; 
  }
}


/*------------------------------------------------------*/
#section_2{
  z-index: 2;
  position: absolute;
  top: -20%;
  width: 100%;
}
#section_2 .section_2_div_1{
  position: relative;
  top: 0%;
}
#section_2 .section_2_div_2{
  position: absolute;
  top: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#section_2 .section_2_div_3{
  position: absolute;
  top: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


#section_2 span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky_1 10s 5s both;
}

#section_2 span:nth-child(even){
  animation-name: smoky_1-mirror;
}

@keyframes smoky_1 {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky_1-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(3 + ($item/10))}s; 
  }
} 

/*----------------------------------------------------------------------------------*/
#gif{
  z-index: 1;
  position: absolute;
  top: 10%;
  width: 100%;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky_2 3s 3s both;
}


@keyframes smoky_2 {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

/*----------------------------------------------------------------------------------*/
#conteo{
  z-index: 1;
  position: absolute;
  top: 13%;
  width: 100%;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky_3 3s 3s both;

 }

@keyframes smoky_3 {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}


/*------------------------------------------------------*/
#section_3{
  z-index: 2;
  position: absolute;
  top: 0%;
  width: 100%;
}

#section_3 span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky_4 10s 5s both;
}

#section_3 span:nth-child(even){
  animation-name: smoky_4-mirror;
}

@keyframes smoky_4 {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky_4-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(3 + ($item/10))}s; 
  }
} 




/*-----------------------------------------------------------------*/
#carta{
  z-index: 2;
  position: absolute;
  top: -5%;
  width: 100%;
}

#carta label {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  position: absolute;
  top: -5em;
  left:5%;
  font-size: 50px;
  color: #fff;
}

#carta p {
  color: #fff;
  font: 3vw/6vh "Finger Paint";
  text-align: center;
  position: absolute;
  top: 4em;
  padding: 0px 100px;
}


/*-----------------------------------------------------------------*/
#section_4{
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 10;
}

#section_4 div {
  border: 1px solid #fff;
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  position: absolute;
  top: 16em;
  font-size: 50px;
  color: #fff;
  font: 3vw/9vh "Finger Paint";
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
#section_4 div:hover{
  background: #fff;
  color: #000;
}

#section_4 div:nth-child(1){
    left:30%;
    padding: 0px 25px;
}

#section_4 div:nth-child(2){
    left:55%;
    padding: 0px 5px;

}


/*------------------------------------------------------*/
#section_5{
  z-index: 2;
  position: absolute;
  top: 0%;
  left: 20%;
  width: 100%;
}

#section_5 span {
  display: inline-block;
  font-size: 100px;
  text-shadow: 0 0 0 whitesmoke;
}


/*----------------------------------------------------------------------------------*/
#te_amo{
  z-index: 1;
  position: absolute;
  top: 0%;
  width: 100%;
  text-shadow: 0 0 0 whitesmoke;
}
#te_amo img{
  width: 100%;
  height: 100%;
}
