body{
  background: #000;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.login {
  position: absolute;
  top: 10%;
  width: 25%;
  height: 80%;
  background-size: cover;
  left: 38%;
  border-radius: 20px;
}
.login img{
  position: absolute;
  opacity: 0.5;
  left: -25%;
  z-index: -1;
}
.login .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}
.login .form h2 {
  color: #FFF;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 60px;
  font-family: system-ui;
  font-weight: bold;
  text-decoration: line-through;
}
.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}
.login .form input:focus {
  border: 1px solid rgba(255,255,255,.8);
  outline: none;
}
::-webkit-input-placeholder {
    color: #DDD;
}
.login .form input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
}

.tiembla{
  -webkit-animation: tiembla 0.1s;
}

@-webkit-keyframes tiembla{
  0%  { -webkit-transform:rotateZ(-5deg); }
  50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
  100%{ -webkit-transform:rotateZ( 5deg); }
}